.input {
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px 17px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
