.range {
  appearance: none;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 250px;
}
.range:focus {
  outline: none;
}
.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #444;
  border-radius: 50px;
  border: 0px solid #000000;
}
.range::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #ffffff;
  border: 0px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #222;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
.range:focus::-webkit-slider-runnable-track {
  background: #444;
}
.range::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #444;
  border-radius: 50px;
  border: 0px solid #000000;
}
.range::-moz-range-thumb {
  box-shadow: 0px 0px 1px #ffffff;
  border: 0px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #222;
  cursor: pointer;
}
.range::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range::-ms-fill-lower {
  background: #444;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
.range::-ms-fill-upper {
  background: #444;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
.range::-ms-thumb {
  box-shadow: 0px 0px 1px #ffffff;
  border: 0px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #222;
  cursor: pointer;
}
.range:focus::-ms-fill-lower {
  background: #444;
}
.range:focus::-ms-fill-upper {
  background: #444;
}