.banner {
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
}

.head {
  padding-top: 20px;
  text-align: center;
  z-index: 99;
}

.body {
  margin-top: -70px;
  text-align: center;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 25px;
}

.image {
  height: auto;
  width: auto;
}

.controls {
  margin-top: -30px;
  margin-bottom: 25px;
}

.info {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 1200px) {
  .body {
    margin-top: -30px;
  }

  .controls {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 40px;
  }

  .info {
    font-size: 20px;
  }
}
